<form id="productos seleccionados" name="seleccionados" action="" method="POST">
  <nav>
    <div>
      <li>
       <!-- Lista de productos seleccionados -->
       Aquí va la lista de los productos seleccionados
      </li>

    </div>
    <div id="Domicilio">
      Domicilio:
      <input id="domicilio" type="text" />
    </div>
    <aside>
      Total: 
      <br>
      <input type="submit" id="enviar-encargo" name="encargar_btn" value="Encargar" title="Finalizar encargo" >
    </aside>

  </nav>
</form>